*{
    padding: 0;
    margin: 0;
}

ul{
    display: flex;
    justify-content: space-between;
    width: 50%;
    list-style: none;
}

ul li{
    text-transform: uppercase;
    font-size: 20px;
}

.header{
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

@media screen and (max-width:576px){
    /* body{
        background-color: red;
    } */

    ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    ul li{
        margin: 20px 0;
    }
}

@media screen and (min-width:577px) and (max-width:768px){
    /* body{
        background-color: green;
    } */

    ul{
        width: 70%;
    }
}

@media screen and (min-width:769px) and (max-width:992px){
    body{
        background-color: blue;
    }
}

@media screen and (min-width:993px) and (max-width:1200px){
    body{
        background-color: blue;
    }
}

@media screen and (min-width:1200px){
    body{
        background-color: orange;
    }
}